%p#notice= notice

%p
  %b Название:
  = @faculty.namef

= link_to 'Редактировать', edit_faculty_path(@faculty), class: "btn btn-warning"
\|
= link_to 'Назад', faculties_path, class: "btn btn-primary"
