%h2 Добро пожаловать!
%h10 Система учета и контроля стипендиального беспечения.
%h5 Портал поможет Вам вести учет студентов, расчитывать стипендии, исходя из суммы финансирования и успеваемости студентов, а также формировать приказы, на основе введенных данных. 
%h5 В данной системем Вы можете просматривать списки студентов, контролировать их успеваемость и стипендию, формировать приказы. Стипендия расчитывается автоматически, исходя из данных о бюджете финансирования вуза, успеваемости студентов и вида стипендии. Портал поможет повысить эффективность Вашей работы и уменьшит вероятность появления технических ошибок в документах.
