%h1 Роль пользователя

%table.table-hover.table-condensed
  %thead
    %tr
      %th.tbl-width65.text-center  Роль
      %th.tbl-width65.text-center  Пользователь
      %th.tbl-width65.text-center  Информация
      %th
      %th
      %th

  %tbody
    - @role_users.each do |role_user|
      %tr
        %td.tbl-width65.text-center = role_user.role
        %td.tbl-width65.text-center = role_user.user
        %td.tbl-width65.text-center = role_user.data
        %td= link_to 'Показать', role_user
        %td= link_to 'Редактировать', edit_role_user_path(role_user)
        %td= link_to 'Удалить', role_user, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новая роль пользователя', new_role_user_path
